.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.details-container img {
  width: 550px;
  height: 300px;
}

.movie-details {
  width: 550px;
  height: auto;
}

.movie-details h1 {
  text-align: center;
}

.movie-details p {
  margin-top: 20px;
}
